body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 60px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 650px;
    text-align: center;
}


.container h2 {
    text-align: center;
    margin-bottom: 30px;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.register-link {
    text-align: center;
}


.footer {
    text-align: center;
    margin-top: 20px;
    color: #999;
}


.forgot-password a {
    color: #007bff;
    text-decoration: none;
}


.login-facebook a {
    color: #007bff;
    text-decoration: none;
}


h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}




.container h2 {
    text-align: center;
    margin-bottom: 20px;
}




.container form {
    text-align: center;
}




input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn-reset {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




.login-link {
    text-align: center;
    margin-top: 20px;
}




.login-link a {
    color: #007bff;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  .app-icon {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .app-store {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  @media only screen and (max-width:550px){
    body{
        background-color: rgb(49, 81, 94);

        
   @media only screen and (max-width:300px){
    body{
        background-color: rgb(20, 76, 100);
    }
}

    @media only screen and (max-width:300px){
    body{
        background-color: rgb(33, 51, 60);

    }
}



